<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property> <!-- Incorrect dialect might lead to sql
                                                                                exceptions-->

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/car_announcements</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.shutdown">true</property>

    </session-factory>

</hibernate-configuration>